<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/3-hbnb.js?{{ cache_id }}"></script>
    <style>
      #api_status {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        width: 40px;
        height: 40px;
        background-color: #cccccc;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: white;
      }
      .available {
        background-color: #ff545f;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="api_status">API</div>
      <!-- Other header content -->
    </header>
    <div class="filters">
      <h2>Filters</h2>
      <ul class="amenities">
        <li><input type="checkbox" data-id="1" data-name="Wifi"> Wifi</li>
        <li><input type="checkbox" data-id="2" data-name="Shower"> Shower</li>
        <!-- Add more amenities as needed -->
      </ul>
    </div>
    <div class="places">
      <!-- Places will be dynamically added here -->
    </div>
  </body>
</html>

